language: python
python: 2.7
env:
    - TOX_ENV=py27
    - TOX_ENV=py32
    - TOX_ENV=py33
    - TOX_ENV=py34
    - TOX_ENV=pypy

install:
    - apt-get install graphviz
    - pip install tox coveralls

script:
    - tox -e $TOX_ENV

after_success:
    - coveralls
